body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    color: #463a89;
}

.big{
    color: #748696;
    font-weight: 700;
    line-height: 180%
}

.otherFamily{
    font-family: Candara, sans-serif;
}

pre {
    font-family: Arial;
    line-height: 130%;
}

.text_2{
    font-style: italic;
    font-size: 12px;
}

.text_3{
    letter-spacing: 120%;
}

